.App {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  font-family: "Cedarville Cursive", cursive;
  font-weight: 400;
  font-style: normal; 
  letter-spacing: 1px;
  word-spacing: 5px;
  color: #8d8fd3;
  height: 100vh;
  background: #121215;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.background {
  background-color: #18181c;
  width: 60%;
  margin: auto;
  height: 500px;
  border-radius: 25px;
  margin-right: 20px;

  h3{
    width: 100%;
    text-align: left;
    margin-left: 20px;
  }
}

.filters {
  width: 40%;
  margin: auto;
  height: 500px;
  background-color: #18181c;
  border-radius: 25px;
  margin-right: 20px;
  margin-left: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  h3{
    width: 100%;
    text-align: left;
    margin-left: 20px;
    margin-bottom: 20px ;
  }
}

.data {
  color: white;
  background-color: #2f2d36;
  border-radius: 10px;
  height: 30px;
  width: 200px;
  margin-right: 10px;
  letter-spacing: 1px;
}

.save {
  height: 30px;
  width:25%;
  border-radius: 5px;
  color: white;
  font-family: "Cedarville Cursive", cursive;
  font-weight: 600;
  font-style: normal;
  background-color: #8361f6;
}
.count {
  margin: 25px;
  text-decoration: 2px underline;
  font-size: 35px;
  
}

.primary {
  margin: 10px;
  font-size: 18px;
  border-radius: 5px;
  color: white;
  background-color: #f44336;
  text-align: right;
  
}

.task
{
  display: flex;
  margin-bottom: 10px;
  word-break: break-all;
  text-align: justify;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
